html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

body {
  padding-bottom: 300px;
  padding-left: 100px;
  padding-right: 100px;
  height: 100%;
}

.jumbotron {
  background-image: url("../images/header3.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
  text-shadow: black;
  font-family: "Open Sans", sans-serif;
}
h2 {
  text-align: center;
  text-shadow: black;
  font-family: "Open Sans", sans-serif;
}
p {
  font-size: large;
}

h3 {
  text-align: center;
  text-shadow: black;
  font-family: "Open Sans", sans-serif;
}

h5 {
  font-size: medium;
}

tbody {
  font-size: medium;
  text-align: center;
  text-shadow: black;
  font-family: "Open Sans", sans-serif;
}

.table-head {
  text-align: center;
  text-shadow: black;
  font-family: "Open Sans", sans-serif;
}
#table-wrapper {
  position: relative;
}
#table-scroll {
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 20px;
}
#table-wrapper table {
  width: 50%;
}

#table-wrapper table thead th .text {
  position: absolute;
  top: -20px;
  z-index: 2;
  height: 20px;
  width: 35%;
}

container-fluid {
  padding-left: 100px;
  align-items: center;
}

hr {
  height: 20px;
  background-color: #333;
}
